.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    grid-template-rows: 1fr;
    width: 85vw;
    gap: 0px 100px;
    margin-top: 7%;
    min-height: 70vh;
    grid-template-areas:
    "text-map list";
}

.text-map {
    grid-area: text-map;
}

.list {
    grid-area: list;
}


@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
    "text-map"
    "list";
        padding: 1em;

    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.text-container {
    margin-top: 100px;
}

